.gridCards {
    background-color: #F7F7F7;
    border-radius: 25px;
    min-height: 500px;
    max-width: 1240px;
    margin: auto;
    margin-bottom: 45px;
    padding: 50px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 57px;
}