.card {
    position: relative;
    width: 340px;
    height: 340px;    
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
}

.card img{
    width: 100%;
    height: inherit;
    object-fit: cover;
    background-color: #FF6060;
    filter: brightness(0.75);
    transition: transform 2s;
}

.card img:hover{
    transform: scale(1.1);    
    filter: brightness(0.9);
}

.card h2 {
    position: absolute;
    left: 5.88%;
    right: 5.88%;
    top: 78.82%;
    bottom: 5.88%;
    font-style: normal;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: flex-end;
    flex-wrap: wrap;
    color: #FFFFFF;    
}

.card a{
    position: absolute;
    height: inherit;
}

/*mobil version and tablet*/
@media screen and (min-width: 375px) and (max-width: 768px) {
    .card {        
        height: 255px;    
        border-radius: 10px;
    }
        
    .card h2 {                
        top: 90%;
        width: 300px;        
        justify-content: flex-start;
        align-content: flex-end;                 
    }    
}

/*mobil xs version*/
@media (max-width: 374px) { 
    .card {        
        height: 255px;    
        border-radius: 10px;
    }
        
    .card h2 {     
        top: 90%;               
        justify-content: flex-start;
        align-content: flex-end;  
        font-size: 15px;               
    }    
}