.error{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    color: #FF6060;
}

.error h1{   
    font-weight: 700;
    font-size: 288px;   
    margin: 169px 0 66px;
    height: 288px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.error p{
    font-weight: 500;
    font-size: 36px;
    line-height: 142.6%;
    margin: 0px;
}

.error a{
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    text-decoration-line: underline;
    margin: 182px 0 150px;
    color: #FF6060;
}