.dropdown-wrapper{
    display: flex;
    align-items: flex-start;
    gap: 74px;     
}

.dropdown-wrapper button{
    background-color: #FF6060;    
    color: #FFFFFF;
    border-radius: 10px;
    border: transparent;
    height: 52px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 18px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
    padding-right: 18.65px; 
}

.dropdown-description, .dropdown-equipments {
    width: 50%;        
    border-radius: 10px; 
    background: #F7F7F7;
}
.dropdown-description p, .dropdown-equipments ul{
   margin-top: 0px; 
    padding-top: 30px;
    padding-left: 20px;
    padding-right: 12px;
    font-weight: 400;
    font-size: 18px;
    line-height: 142.6%;
    background: #F7F7F7;
    min-height: 130px;
    border-radius: 0 0 10px 10px;
}

.dropdown-description p{    
    padding-bottom: 53px;
}

.dropdown-equipments ul {      
    list-style: none;
    padding-bottom: 53px;
  }

/*menu déroulant de la page About*/

.dropdown-about-wrapper{
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
    gap: 33px;
}

 .dropdown-about{
    width: 1023px;        
    border-radius: 10px; 
    background: #F7F7F7;
 }
 .dropdown-about:nth-child(4){
    margin-bottom: 100px;
 }

 .dropdown-about p{    
    padding: 36px 27px 19px 18px;
    margin: 0;
    font-family: 'Montserrat';
    font-weight: 400;
    font-size: 24px;
    line-height: 142.6%;
    color: #FF6060;
}

.dropdown-about button{
    background-color: #FF6060;    
    color: #FFFFFF;
    border-radius: 10px;
    border: transparent;
    height: 52px;
    padding-left: 20px;
    font-weight: 500;
    font-size: 24px;
    line-height: 142.6%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;    
    padding-right: 18.65px; 
}