.banner {    
    display: flex;
    justify-content: center;
    place-items: center;
    border-radius: 25px;
    margin-top: 63px;
    margin-bottom: 45px;
    max-width: 100%;
}

.banner img {
    width: 100%;
    max-width: 1240px;
    height: 223px;
    border-radius: 25px;
    object-fit: cover;
    filter: brightness(0.7);
}

.banner h1 {
    position: absolute;
    font-style: normal;
    font-weight: 500;
    font-size: 48px;
    color: white;   
}
.bannerAbout{
    padding-left: 20px;
    padding-right: 20px;
}

.retourLigne{
    display: none;
}

/*mobil version and tablet*/
@media screen and (min-width: 375px) and (max-width: 768px) {
    .banner{
        margin-top: 0px;
        margin-bottom: 22px;
        display: flex;
        justify-content: flex-start;
    }

    .banner img {               
        height: 111px;
        border-radius: 10px;   
    }  

    .banner h1 {              
        font-size: 24px;  
        margin-left: 20px;        
    }    
    .bannerAbout{
        height: 223px;
        width: auto;
        margin-bottom: 20px;
    }
    .bannerAbout img{
        height: 223px;
        max-width: 1023px;
    }    
    
}

/*mobil xs version*/
@media (max-width: 374px) {
    .banner{
        margin-top: 0px;
        margin-bottom: 22px;
    }

    .banner img {               
        height: 111px;
        border-radius: 10px;   
    }
    
    .banner h1 {              
        font-size: 20px;         
          padding: 0 5px;
        text-align: center;   
    }    
    .bannerAbout{
        height: 223px;
        width: auto;
        margin-bottom: 20px;
        padding: 0 5px;
    }
    .bannerAbout img{
        height: 223px;
        max-width: 1023px;
    }
}
